nav {
  padding: 45px;
  display: flex;
}

.title {
  font-size: 28px;
  margin-right: 25px;
}

.title::after {
  content: "";
  display: inline-block;
  height: 35px;
  width: 2px;
  background-color: black;
  margin-left: 25px;
}
