.container {
  display: flex;
  text-align: center;
  margin: 0 25px;
  padding: 24px;
}

.title {
  margin-bottom: 25px;
}

.left_container {
  border: 1px solid rgb(78, 78, 77);
  box-shadow: 3px 3px #7c7575, 0em -1px 0.4em #1f1f1d;
  border-radius: 10px;
  padding: 24px;
  margin-right: 25px;
}

.left_container {
  width: 35%;
}

.right_container {
  width: 75%;
}

.btn {
  color: #5a0de3;
  min-width: 205px;
  min-height: 55px;
  font-size: 20px;
  padding: 20px;
}
